<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LoginDemo.Properties.Settings.TESTConnectionString"
            connectionString="Data Source=.;Initial Catalog=TEST;User ID=sa;Password=admin"
            providerName="System.Data.SqlClient" />
        <add name="LoginDemo.Properties.Settings.classtimeConnectionString"
            connectionString="Data Source=.;Initial Catalog=classtime;User ID=sa;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>